body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(174, 255, 0);
}

.center {
    text-align: center;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
    color: #57d116;
}

h1 {
    color: #333;
}

.calculator {
    background-color: #57d116;
    border: #4caf50;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.percepatan,
.gaya {
    margin-bottom: 30px;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.hasil {
    margin-top: 15px;
}

p {
    margin: 0;
    font-weight: bold;
}

/* Optional: Add some styles for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
